body {
    margin: 0px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background:#f6f2ff;
    overflow: auto;
}

h1, h3, nav {
    color: #2c2b28;
}

h2{
    color: #f6f2ff;
    text-shadow: 2px 2px 5px #2c2b28;
}

p{
    font-weight: bold;
}

ul {
    list-style-type: none;
    display: inline-block;
    margin: 0%;
    padding: 0%;
}

li{
    margin-bottom: 5px;
}

.navbar{
    overflow: hidden;
    background-color: #351431;
    margin-bottom: 10px;
}

.navbar a{
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown{
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn{
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    margin: 0;
}

.navbar a:hover .dropdown:hover .dropbtn{
    background-color: #a36d90;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #351431;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a{
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover{
    background-color: #a36d90;
}

.dropdown:hover .dropdown-content{
    display: block;
}

#title {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 4px;
    background:#ffd275;
    border-bottom: 6px solid #351431;
    border-radius: 24px;
}

.containerbig{
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    background: #9c6615;
    border-bottom: 6px solid #351431;
    border-radius: 24px;
    margin-bottom: 10px;
}

.container{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    background: #ffd275;
    border-bottom: 6px solid #351431;
    border-radius: 24px;
    padding-left: 2px;
    padding-right: 2px;
    margin-bottom: 4px;
}

.form-control{
    padding: 5px;
    margin: 5px;
    border-radius: 24px;
    background-color: #ffd275;
}

form{
    height: 200px;
    width: 400px;
    background-color: #9c6615;
    color: #f6f2ff;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border: 6px solid #ffd275;
    border-radius: 24px;
}

#inputs{
    margin: auto;
    padding: 50px;
}

#yesno{
    height: 30px;
    width: 80px;
    border-radius: 24px;
    background-color: #351431;
    color: #f6f2ff;
}

#yesno:hover{
    background-color: #a36d90;
}